
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<link rel="stylesheet" href="{% static 'bootstrap-grid.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap-grid.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap-reboot.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap-reboot.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
<body>
    <center>
        <h1 class="btn btn-primary">
            hi
        </h1>
        <h2>malli yadav</h2>
        <img src="{% static 'images/malli.jpg' %}" alt="">
    </center>
    <script src="{% static 'bootstrap.bundle.js' %}"></script>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>



</body>
</html>